# Fichier: dev.env.example
ENV="preprod"
SITE_NAME=""
BASE_URL=""
SITE_DIR=""
BACKUP_DIR=""
DB_HOST=""
DB_NAME=""
DB_USER=""
DB_PASS=""

# Nouvelles variables pour la mise à jour de l'URL
PREPROD_URL=""
PROD_URL=""